.img-fluid.thumbnail {
  max-width: 50px;
}

.img-fluid.profile {
  max-width: 150px;
}

.img-fluid.thumbnail,
.img-fluid.profile {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}

.card {
  max-width: 700px;
}

.btn-sort {
  max-width: 110px;
}
