/// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");

$font-family-base: "Poppins";
$h2-font-size: 1;
$h3-font-size: 1rem;

/// Colours
$primary: #008288;
$light: #f6f6f6;
$body-bg: #ebebeb;
$body-color: #000;

$gradient: linear-gradient(
  to right,
  rgba(2, 105, 182, 1),
  rgba(0, 130, 136, 1),
  rgba(0, 130, 136, 1),
  rgb(0, 167, 176)
);

.btn.gradient {
  background: $gradient;
  background-size: 300% 100%;
  transition: 0.2s ease-in-out;
}

.btn.gradient:hover {
  background-position: 100% 0;
  transition: 0.2s ease-in-out;
}

/// Size
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px,
);
